<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="theme::myheader">
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="theme::mynav"></nav>
<div class="container">
    <h1>List of Students </h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Grade</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student :${students.getContent()}">
            <th scope="row" th:text="@{${students.getContent().indexOf(student)}+1}"></th>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.grade}"></td>
            <td th:text="${student.address}"></td>
            <td th:text="${student.city}"></td>
            <td th:text="${student.getState()}"></td>
            <td> <a th:href="@{'/student/edit/'+${student.studentId}}" class="btn btn-primary"> Edit|</a> <a th:href="@{'/student/delete/'+${student.studentId}}" class="btn btn-primary"> |Delete</a>  </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <ul class="nav nav-pills">
        <li class="nav-item"
            th:each="i : ${#numbers.sequence(0,students.getTotalPages()-1)}">
            <a th:href="@{/student/list(page=${i})}" th:text="${i}" class="nav-link"></a>
        </li>
    </ul>
</div>
<footer th:replace="theme::myfooter">

</footer>
</body>
</html>