<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="theme::myheader">
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="theme::mynav"></nav>
<div class="container">
    <form method="post" th:action="@{/teacher/add}">
        <div th:if="${msg != null}" class="bg-info" > <span th:text ="${msg}"></span></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Raju Rana">
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="raju@gmail.com">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="grade">Grade</label>
                <select id="grade" name="grade" class="form-control">
                    <option th:each="grade:${T(com.itsolution.SchoolMgmt.core.enums.Grade).values()}" th:value="${grade}" th:text="${grade}"></option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="address">Address</label>
                <input type="text" class="form-control" name="address" id="address" placeholder="Apartment, studio, or floor">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" id="city">
            </div>
            <div class="form-group col-md-6">
                <label for="state">State</label>
                <select id="state" name="state" class="form-control">
                    <option th:each="state:${T(com.itsolution.SchoolMgmt.core.enums.State).values()}" th:value="${state}" th:text="${state}"></option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

<footer th:replace="theme::myfooter">

</footer>

</body>
</html>