<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="theme::myheader">
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="theme::mynav"></nav>
<div class="container">
    <h1>List of Teachers </h1>
    <table class="table table-hover table-striped" id="example" >
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Grade</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Subject</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher:${teachers}">
            <th scope="row" th:text="@{${teachers.indexOf(teacher)}+1}"></th>
            <td th:text="${teacher.name}"></td>
            <td th:text="${teacher.email}"></td>
            <td th:text="${teacher.grade}"></td>
            <td th:text="${teacher.address}"></td>
            <td th:text="${teacher.city}"></td>
            <td th:text="${teacher.state}"></td>
            <td th:text="${teacher.subject}"></td>
            <td> <a th:href="@{'/teacher/edit/'+${teacher.teacherId}}" class="btn btn-primary"> Edit|</a> <a th:href="@{'/teacher/delete/'+${teacher.teacherId}}" class="btn btn-primary"> |Delete</a>  </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="theme::myfooter">

</footer>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
</body>
</html>